<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.today_seyebrowktver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodaysEyebrowKtVer">
        <activity android:name=".ui.ActivityUpdateMessage"></activity>
        <activity android:name=".ui.ActivityMonthlyPerformance" />
        <activity android:name=".ui.ActivityDetailedPerformance" />
        <activity android:name=".ui.ActivityEditCustomer" />
        <activity
            android:name=".ui.ActivityEachEvent"
            android:theme="@style/popupTheme" />
        <activity android:name=".ui.ActivityEachCustomer" />
        <activity
            android:name=".ui.ActivitySelectShopType"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".ui.ActivitySelectRegion"
            android:theme="@style/popupTheme" />
        <activity android:name=".ui.ActivityFindPassword" />
        <activity android:name=".ui.ActivityFindId" />
        <activity android:name=".ui.ActivityUpdateMemo" />
        <activity android:name=".ui.ActivitySendMessage" />
        <activity android:name=".ui.ActivityCreateMessage"></activity>
        <activity android:name=".ui.ActivityCreateMemo" />
        <activity android:name=".ui.ActivityCreateCustomerFromBook"></activity>
        <activity android:name=".ui.ActivityJoin2" />
        <activity android:name=".ui.ActivityJoin1" />
        <activity android:name=".ui.ActivityJoin0" />
        <activity android:name=".ui.ActivityLogin" />
        <activity android:name=".ui.ActivityLoading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ActivityLoadCustomers" />
        <activity android:name=".ui.ActivityCreateEventSkipCus" />
        <activity android:name=".ui.ActivityCreateEventOldCus" />
        <activity android:name=".ui.ActivityCreateEventNewCus" />
        <activity android:name=".ui.ActivityCreateCustomer" />
        <activity android:name=".ui.ActivityEditMessageGroup" />
        <activity android:name=".ui.ActivityHomeMenu" />
        <activity
            android:name=".ui.ActivityBase"
            android:label="@string/title_activity_base"
            android:theme="@style/Theme.TodaysEyebrowKtVer.NoActionBar" />
        <activity android:name=".ui.ActivityMain" />
    </application>

</manifest>