<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.today_seyebrowktver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodaysEyebrowKtVer">
        <activity android:name=".ActivityEachEvent"></activity>
        <activity android:name=".ActivityEachCustomer" />
        <activity
            android:name=".ActivitySelectShopType"
            android:theme="@style/popupTheme" />
        <activity
            android:name=".ActivitySelectRegion"
            android:theme="@style/popupTheme" />
        <activity android:name=".ActivityFindPassword" />
        <activity android:name=".ActivityFindId" />
        <activity android:name=".ActivityUpdateMemo" />
        <activity android:name=".ActivitySendMessage" />
        <activity android:name=".ActivityCreateMessage" />
        <activity android:name=".ActivityCreateMemo" />
        <activity android:name=".ActivityCreateCustomerFromBook" />
        <activity android:name=".ActivityJoin2" />
        <activity android:name=".ActivityJoin1" />
        <activity android:name=".ActivityJoin0" />
        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLoadCustomers" />
        <activity android:name=".ActivityCreateEventSkipCus" />
        <activity android:name=".ActivityCreateEventOldCus">

        </activity>
        <activity android:name=".ActivityCreateEventNewCus">

        </activity>
        <activity android:name=".ActivityCreateCustomer" />
        <activity android:name=".ActivityHomeMenu" />
        <activity
            android:name=".ActivityBase"
            android:label="@string/title_activity_base"
            android:theme="@style/Theme.TodaysEyebrowKtVer.NoActionBar" />
        <activity android:name=".ActivityMain">

        </activity>
    </application>

</manifest>